@font-face {
    font-family: 'Heroking-Regular';
    src: url(/PM2-tomysykess/front/fonts/Heroking-Regular.ttf);
}

body {
    background-image: url(/PM2-tomysykess/front/img/terror-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    text-align: center;
    justify-content: center;
    padding: 20px 0px 0px 0px;
    height: 90vh;
    width: 97vw;
}


nav {
    background-color: #000000;


    display: flex;
    justify-content: space-between;
    padding: 0.1em;
    padding-right: 10%;
    padding-left: 10%;

    opacity: 60%;
    width: 80.6vw;
}

nav:hover {
    background-color: rgb(48, 0, 0);


    display: flex;
    justify-content: space-between;
    padding: 0.4em;
    padding-right: 10%;
    padding-left: 10%;

    width: 80.6vw;
    transition: 0.5s;
}

a {
    border: solid rgb(0, 0, 0) 1px;
    display: flexbox;
    color: #a07f7f;
    text-decoration: none;
    justify-content: center;
    padding-top: 20px;
    text-align: center;

    height: 30px;
    width: 300px;
    background-color: #000000;
    border-radius: 10px;
}


a:hover {
    background-color: rgb(255, 0, 0);
    transition: 0.5s;
    opacity: 70%;
}

h1 {
    text-align: center;
    font-family: 'Heroking-Regular';
    font-size: 3.5em;
    color: rgb(255, 255, 255);
    opacity: 70%;
}



h1:hover {
    color: rgb(255, 0, 0);
    filter: drop-shadow(1px);
    transition: 2s;
}


.banner {

    width: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 70%;
    padding: 20px;
    max-height: 3%;
}


.banner:hover {
    background-color: rgb(48, 0, 0);
    transition: 3s;
}



.container {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;


    border-radius: 15px;
    margin-top: 20px;
    opacity: 80%;


    width: 95%;
    height: 70%;
}

.classH3 {
    font-size: 1.2em;
    color: white;
    margin-bottom: 5px;
}

.classH4 {
    font-size: 0.8em;
}

.classPoster {

    height: 80%;
    width: 80%;
    border-radius: 15px;
}




.nuevoDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #0000004f;
    border-radius: 20px;
    padding: 1px;
    margin: 10px;
    height: 435px;
    animation: cartita 5s infinite;
    width: 360px;


}

.nuevoDiv:hover {
    background-color: rgba(170, 0, 0, 0.466);
    opacity: 90%;
    font: color rgb(0, 0, 0);
    color: black;
    transition: 1s;
    animation: movie 1s ease-in-out infinite;

}

@keyframes movie {

    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.05);
    }

    32% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    75% {
        transform: scale(1);
    }

    100% {
        transform: scale(1);
    }

}

